* {
  font-family: 'Space Grotesk', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100svh;
  background-color: rgb(237, 234, 239);
}

.page {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.page header {
  font-size: 67px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sketch-tools {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
}

.color-picker {
  border: none;
  min-width: 100px;
  min-height: 100px;
  background-color: transparent;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color-button,
.rainbow-button,
.eraser-button,
.clear-button {
  max-width: 150px;
  padding: 17px 30px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.color-button {
  background-color: rgb(25, 25, 25);
  color: white;
}

.rainbow-button {
  transition: background-image 0.15s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: white;
  color: black;
}

.eraser-button {
  background-color: white;
  color: black;
}

.color-button:hover,
.rainbow-button:hover,
.eraser-button:hover,
.clear-button:hover {
  box-shadow: 8px 8px #99bdff;
  transform: scale(1.03);
}

.color-button:active,
.rainbow-button:active,
.eraser-button:active,
.clear-button:active {
  box-shadow: 1px 1px #99bdff;
  transition: .05s ease-in-out;
  transform: scale(.98)
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.slider-tool {
  height: 50px;
  max-width: 100%;
  background-color: white;
  border-radius: 10px;
  padding: 0 50px 0 20px;
  margin-left: 2px;
  margin-right: 2px;
}

.slider-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider-field input {
  appearance: none;
  max-height: 3px;
  max-width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.slider-field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: black;
  right: -30px;
}

.sketch-container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.js-sketch-boxes {
  background-color: white;
}

.footer {
  display: flex;
  align-items: center;
}

.footer img {
  height: 25px;
  margin-left: 11px;
  will-change: transform;
  transition: transform 450ms;
}

.footer img:hover {
  transform: scale(1.3) rotate(360deg);
}

@media screen and (max-width: 790px) {
  .page {
    width: 100%;
    height: 100svh;
  }

  .sketch-tools {
    display: flex;
    justify-content: space-around;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
  }

  .color-picker {
    min-width: 90px;
    min-height: 90px;
  }

  .color-button,
  .rainbow-button,
  .eraser-button,
  .clear-button {
    max-width: 105px;
    padding: 17px 20px;
    font-size: 11px;
  }

  .slider-tool {
    height: 48px;
    max-width: 11%;
    padding: 0 50px 0 20px;
  }

  .slider-field input {
    appearance: none;
    max-height: 3px;
    max-width: 100%;
  }

  .slider-field .value {
    font-size: 16px;
  }

}

@media screen and (max-width: 600px) {
  .page {
    justify-content: start;
  }

  .page header {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .sketch-tools {
    gap: 10px;
    margin-bottom: 40px;
    flex-direction: column;
  }

  .color-picker {
    min-width: 80px;
    min-height: 80px;
  }

  .color-button,
  .rainbow-button,
  .eraser-button,
  .clear-button {
    min-width: 130px;
    font-size: 12px;
  }

  .slider-tool {
    height: 50px;
    max-width: 30%;
    padding: 0 50px 0 20px;
  }

  .slider-field input {
    appearance: none;
    max-height: 3px;
    max-width: 110%;
  }

  .slider-field .value {
    font-size: 15px;
  }

  .sketch-container {
    width: 330px;
    height: 330px;
  }

  .footer h3 {
    font-size: 15px;
  }

  .footer img {
    height: 20px;
  }
}