* {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(237, 234, 239);
}

.page header {
  margin-top: 60px;
  font-size: 70px;
  margin-bottom: -20px;
}

.color-picker {
  border: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border-radius: 15px;
  border: none;
}

.sketch-tools {
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.slider-tool {
  height: 50px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 0 50px 0 20px;
}

.slider-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider-field input {
  appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.slider-field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: black;
  right: -20px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sketch-container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.js-sketch-boxes {
  background-color: white;
}