* {
  font-family: 'Space Grotesk', sans-serif;
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(237, 234, 239);
}

.page header {
  margin-top: 40px;
  font-size: 70px;
  margin-bottom: -30px;
  font-weight: 600;
}

.sketch-tools {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

.color-picker {
  border: none;
  width: 100px;
  height: 100px;
  background-color: transparent;
  cursor: pointer;
}

.color-picker::-webkit-color-swatch {
  border-radius: 50%;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.color-button,
.rainbow-button,
.eraser-button,
.clear-button {
  height: 50px;
  width: 115px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.color-button {
  background-color: rgb(25, 25, 25);
  color: white;
}

.rainbow-button {
  transition: background-image 0.15s ease-in-out;
  transition: 0.3s ease-in-out;
  background-color: white;
  color: black;
}

.eraser-button {
  background-color: white;
  color: black;
}

.color-button:hover,
.rainbow-button:hover,
.eraser-button:hover,
.clear-button:hover {
  box-shadow: 8px 8px #99bdff;
  transform: scale(1.03)
}

.color-button:active,
.rainbow-button:active,
.eraser-button:active,
.clear-button:active {
  box-shadow: 1px 1px #99bdff;
  transition: .05s ease-in-out;
  transform: scale(.98)
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.slider-tool {
  height: 50px;
  width: 150px;
  background-color: white;
  border-radius: 10px;
  padding: 0 50px 0 20px;
}

.slider-field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider-field input {
  appearance: none;
  height: 3px;
  width: 100%;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}

.slider-field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: black;
  right: -30px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sketch-container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.js-sketch-boxes {
  background-color: white;
}